@import url("https://fonts.googleapis.com/css2?family=Mooli&display=swap");

:root {
    --primary-color: #52489c;
    --secondary-color: #59c3c3;
    --accent-color: white;
    --text-dark: #333;
    --text-light: #ebebeb;
    --primary-font: Arial, Helvetica, sans-serif;
    --secondary-font: 'Mooli', sans-serif;
}

body {
    font-family: var(--primary-font);
    font-size: 1.2em;
}

a:link,
a:visited {
    color: var(--accent-color);
}

header {
    background-color: var(--primary-color);
    color: var(--text-light);
    padding: 10px;
    text-align: center;
}

footer {
    background-color: var(--primary-color);
    color: var(--text-light);
    padding: 10px;
    text-align: left; 
}

main {
    padding: 20px;
}

/*button#menu {
    display: none; 
}*/

.centered {
    text-align: center; 
}





nav li {
    margin: 0 30px; 
}



.gallery {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    justify-content: center;
}

figure {
    margin: 0;
}

.gallery-image-class {
    max-width: 100%;
    height: 250px;
    width: 250px;
    object-fit: cover;
}

h1 {
    font-family: var(--secondary-font); 
}

h2 {
    font-family: var(--secondary-font); 
}

.hide {
	display: none;
}

#menu-div {
    width: 100%;
    display: flex;
    justify-content: center;
  
}

#menu-button {
    text-decoration: none;
    color: white;
}

@media screen and (max-width: 700px) {
    .gallery {
        grid-template-columns: 1fr;
    }

    nav ul {
        display: block;
        justify-content: center;
        /*width: 60px;*/
        padding: 0;
        list-style-type: none;
    }

    button#menu-button {
        display: flex;
        justify-content: center;
    }
}

@media screen and (min-width: 700px) {
    .gallery {
        grid-template-columns: 1fr 1fr;
    }

    nav ul {
        display: block;
        justify-content: center;
        /*width: 60px;*/
        padding: 0;
        list-style-type: none;
    }

    button#menu-button {
        display: none;
        justify-content: center;
    }

    #menu-div {
        display: none;
    }
}


@media screen and (min-width: 1000px) {
    .gallery {
        grid-template-columns: 1fr 1fr 1fr; 
    }
    
    nav ul {
        display: flex;
        justify-content: center; 
        padding: 0;
        list-style-type: none;
    }

    button#menu-button {
        display: none; 
    }

    #menu-div {
        display: none;
    }
}

.viewer {
    display: block; 
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 45px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }

  @media screen and (min-width: 700px) {
  .viewer-content {
    margin: auto;
    display: block;
    width: 90%;
   /* max-width: 700px;*/
   max-height: 90%;
  }
 }

 @media screen and (max-width: 700px) {
    .viewer-content {
      margin: auto;
      display: block;
      width: 100%;
     /* max-width: 700px;*/
     max-height: 90%;
    }
   }

  .close {
    position: absolute;
    top: 10px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }

  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }

  .close-viewer {
    grid-row-start: 1;
    grid-row-end: 1;
  }

  .item2 {
    grid-row-start: 2;
    grid-row-end: 2;
    width: 100%;
    height: 100%;
  }
